@{
    ViewBag.Title = "Test3";
}
@Styles.Render("~/Content/test3Style.css")


<div id="graphicalContainer">

    <div id="infoSection">
        
        <div id="detailsContainer">

            <div class="dataRow" style="background: lightblue;">          
                <div class="dataTitle">Department:</div>
                <div class="dataContent">CO</div>
                <div class="dataTitle">ID:</div>
                <div class="dataContent">12345</div>
            </div>

            <div class="dataRow" style="background: linen;">
                <div class="dataTitle">Code:</div>
                <div class="dataContent">COA123</div>
            </div>

            <div class="dataRow" style="background: linen;">
                <div class="dataTitle">Title:</div>
                <div class="dataContent">Very Long Dummy Title to Test Flex Div Expansion jcfhgvjbh xhctfjvgbh jvgkbhjn vjghb</div>
            </div>
            
            <div class="dataRow" style="background: lightblue;">          
                <div class="dataTitle">P:</div>
                <div class="dataContent">Yes</div>
                <div class="dataTitle">Status:</div>
                <div class="dataContent">Alternative</div>
            </div>

            <div class="dataRow" style="background: linen;">
                <div class="dataTitle">Allocated<br />Room(s):</div>
                <div class="dataContent">COA123</div>
            </div>

            <div class="dataRow" style="background: linen;">
                <div class="dataTitle">Room<br />Preference(s):</div>
                <div class="dataContent">COA123</div>
            </div>

            <div class="dataRow" style="background: linen;">
                <div class="dataTitle">Weeks:</div>
                <div class="dataContent">1-2, 4-5, 7-8, 10-12, 13-14, 16</div>
            </div>

            <div class="dataRow" style="background: linen;">
                <div class="dataTitle">Number of Students:</div>
                <div class="dataContent">400</div>
            </div>

            <div class="dataRow" style="background: linen;">
                <div class="dataTitle">Number of Rooms:</div>
                <div class="dataContent">5</div>
            </div>

            <div class="dataRow" style="background: lightblue;">          
                <div class="dataTitle">Tradional:</div>
                <div class="dataContent">T</div>
                <div class="dataTitle">Park:</div>
                <div class="dataContent">Central</div>
            </div>

            <div class="dataRow" style="background: linen;">
                <div class="dataTitle">Session Type:</div>
                <div class="dataContent">Lecture</div>
            </div>


            <div class="dataRow" style="background: linen;">
                <div class="dataTitle">Other<br />Requirements:</div>
                <div class="dataContent">blah vlah sdfbnfskdjya yadadada something only god would know</div>
            </div>

            <div class="dataRow" style="background: linen;">
                <div class="dataTitle">Facilities:</div>
                <div class="dataContent">1-2<br /> 4-5, 7-8 <br /> 10-12 <br /> 13-14 <br /> 16</div>
            </div>

            <div class="dataRow" style="background: linen;">
                <div>Edit</div>
                <div>Duplicate</div>
                <div>Delete</div>
            </div>

            

        </div>


    </div>

    <div id="graphicalSection">
        
        <div class="daySection">
            
            <div class="dayTitle">Mon</div>

            <table class="dayTable">

                <tr>
                    <td id="hiddenTD1"></td>
                    <td id="hiddenTD2"></td>
                    <td id="hiddenTD3"></td>
                    <td id="hiddenTD4"></td>
                    <td id="hiddenTD5"></td>
                    <td id="hiddenTD6"></td>
                    <td id="hiddenTD7"></td>
                    <td id="hiddenTD8"></td>
                    <td id="hiddenTD9"></td>
                </tr>

                <tr>
                    <td>
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA123" />COA123
                        </label>
                    </td>
                    <td>
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA124" />COA124
                        </label>
                    </td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td colspan="2">
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA123" />COA123
                        </label>
                    </td>
                    <td>4</td>
                    <td>5</td>
                    <td colspan="3">
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA124" />COA124
                        </label>
                    </td>
                    <td>9</td>
                </tr>

                <tr>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                </tr>

            </table>

        </div>

        <div class="daySection">
            
            <div class="dayTitle">Tue</div>

            <table class="dayTable">

                <tr>
                    <td id="hiddenTD1"></td>
                    <td id="hiddenTD2"></td>
                    <td id="hiddenTD3"></td>
                    <td id="hiddenTD4"></td>
                    <td id="hiddenTD5"></td>
                    <td id="hiddenTD6"></td>
                    <td id="hiddenTD7"></td>
                    <td id="hiddenTD8"></td>
                    <td id="hiddenTD9"></td>
                </tr>

                <tr>
                    <td>
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA123" />COA123
                        </label>
                    </td>
                    <td>
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA124" />COA124
                        </label>
                    </td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td colspan="2">
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA123" />COA123
                        </label>
                    </td>
                    <td>4</td>
                    <td>5</td>
                    <td colspan="3">
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA124" />COA124
                        </label>
                    </td>
                    <td>9</td>
                </tr>

                <tr>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                </tr>

            </table>

        </div>

        <div class="daySection">
            
            <div class="dayTitle">Wed</div>

            <table class="dayTable">

                <tr>
                    <td id="hiddenTD1"></td>
                    <td id="hiddenTD2"></td>
                    <td id="hiddenTD3"></td>
                    <td id="hiddenTD4"></td>
                    <td id="hiddenTD5"></td>
                    <td id="hiddenTD6"></td>
                    <td id="hiddenTD7"></td>
                    <td id="hiddenTD8"></td>
                    <td id="hiddenTD9"></td>
                </tr>

                <tr>
                    <td>
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA123" />COA123
                        </label>
                    </td>
                    <td>
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA124" />COA124
                        </label>
                    </td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td colspan="2">
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA123" />COA123
                        </label>
                    </td>
                    <td>4</td>
                    <td>5</td>
                    <td colspan="3">
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA124" />COA124
                        </label>
                    </td>
                    <td>9</td>
                </tr>

                <tr>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                </tr>

            </table>

        </div>

        <div class="daySection">
            
            <div class="dayTitle">Thu</div>

            <table class="dayTable">

                <tr>
                    <td id="hiddenTD1"></td>
                    <td id="hiddenTD2"></td>
                    <td id="hiddenTD3"></td>
                    <td id="hiddenTD4"></td>
                    <td id="hiddenTD5"></td>
                    <td id="hiddenTD6"></td>
                    <td id="hiddenTD7"></td>
                    <td id="hiddenTD8"></td>
                    <td id="hiddenTD9"></td>
                </tr>

                <tr>
                    <td>
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA123" />COA123
                        </label>
                    </td>
                    <td>
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA124" />COA124
                        </label>
                    </td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td colspan="2">
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA123" />COA123
                        </label>
                    </td>
                    <td>4</td>
                    <td>5</td>
                    <td colspan="3">
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA124" />COA124
                        </label>
                    </td>
                    <td>9</td>
                </tr>

                <tr>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                </tr>

            </table>

        </div>

        <div class="daySection">
            
            <div class="dayTitle">Fri</div>

            <table class="dayTable">

                <tr>
                    <td id="hiddenTD1"></td>
                    <td id="hiddenTD2"></td>
                    <td id="hiddenTD3"></td>
                    <td id="hiddenTD4"></td>
                    <td id="hiddenTD5"></td>
                    <td id="hiddenTD6"></td>
                    <td id="hiddenTD7"></td>
                    <td id="hiddenTD8"></td>
                    <td id="hiddenTD9"></td>
                </tr>

                <tr>
                    <td>
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA123" />COA123
                        </label>
                    </td>
                    <td>
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA124" />COA124
                        </label>
                    </td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td colspan="2">
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA123" />COA123
                        </label>
                    </td>
                    <td>4</td>
                    <td>5</td>
                    <td colspan="3">
                        <label class="radioLabel">
                            <input type="radio" name="gRadio" value="COA124" />COA124
                        </label>
                    </td>
                    <td>9</td>
                </tr>

                <tr>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                    <td>
                        COA999
                    </td>
                </tr>

            </table>

        </div>

    </div>

</div>





@Scripts.Render("~/ViewScripts/test3Script.js")