@{
    ViewBag.Title = "Test3";
}
@Styles.Render("~/Content/test3Style.css")

<div id="" class="daySection">

    <div class="dayTitle" style="border-color:transparent;" >
    </div>

    <table class="dayTable">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>

<div id="graphicalContainer">

</div>






@Scripts.Render("~/ViewScripts/test3Script.js")