@{
    ViewBag.Title = "Test";
}
@Styles.Render("~/Content/testStyle.css")
<body>
    <div id="bdy" style="font-size:12px;">
	<a class="btn btn-default" href="javascript:void(0);" onclick="changeFontSize('mainWrapper','2');">+</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="btn btn-default" href="javascript:void(0);" onclick="changeFontSize('mainWrapper',-2);">-</a>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="btn btn-default" href="javascript:void(0);" onclick="defaultFont('mainWrapper');">default</a>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="btn btn-default" href="javascript:void(0);" onclick="negativar();">contrast</a>    <p><br /><br />
	This is the test text to increase or decrease.
</p></div></body>


@Scripts.Render("~/ViewScripts/testScript.js");