@{
    ViewBag.Title = "Test3";
}
@Styles.Render("~/Content/test3Style.css")


<div id="graphicalContainer">

    <div id="infoSection">
        sommin
    </div>

    <div id="graphicalSection">
        
        <table class="dayTable">

            <tr>
                <td id="hiddenTD"></td>
                <td id="hiddenTD"></td>
                <td id="hiddenTD"></td>
                <td id="hiddenTD"></td>
                <td id="hiddenTD"></td>
                <td id="hiddenTD"></td>
                <td id="hiddenTD"></td>
                <td id="hiddenTD"></td>
                <td id="hiddenTD"></td>
            </tr>

            <tr>
                <td>
                    <label class="radioLabel">
                        <input type="radio" name="gRadio" value="COA123"></input>
                    </label>                 
                </td>
                <td>
                    <label class="radioLabel">
                        <input type="radio" name="gRadio" >COA124</input>
                    </label>
                </td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>

        </table>

    </div>

</div>





@Scripts.Render("~/ViewScripts/test3Script.js")