@{
    ViewBag.Title = "Test";
}
@Styles.Render("~/Content/testStyle.css")
<body>
    <div id="bdy" style="font-size:12px;">
	<a href="javascript:void(0);" onclick="changeFontSize('mainWrapper','2');">Increase font</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="javascript:void(0);" onclick="changeFontSize('mainWrapper',-2);">Decrease font</a>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="javascript:void(0);" onclick="defaultFont('mainWrapper');">default font size</a>    <p><br /><br />
	This is the test text to increase or decrease.
</p></div></body>


@Scripts.Render("~/ViewScripts/testScript.js");