@{
    ViewBag.Title = "Test";
}
@Styles.Render("~/Content/testStyle.css")

<html>


<body>
     <form>
        <input type="radio" name="view" value="grid">Grid
        <input type="radio" name="view" value="list">List
    </form>
    <div id="modulelist">
    </div>
    <div id="buildinglist">
    </div>
    <div id="roomslist">
    </div>
    <div id="dayslist">
    </div>
    <div id="weeklist">
    </div>
    <div id="statuslist">
    </div>
    <div id="deptlist">
    </div>
    <div id="stagelist">
    </div>

</body>



@Scripts.Render("~/ViewScripts/testScript.js");