table.gridTable {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

td.gridWeek {
    border: 1px solid black;
}

#roomList {
    overflow: auto; 
    height: 200px;
}

#chosenRoomsList {
    overflow: auto; 
    height: 125px;
}