.filtersContainer {

    display: flex;
    display: flexbox;
    display: -webkit-box;
    display: -webkit-flex;

    flex-flow: row  nowrap;
    -webkit-flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 120px;
    width: 950px;

    margin-bottom: 10px;

    border-radius: 5px;
    border: 1px solid lightgrey;

}

.filterGroup {

    display: flex;
    display: flexbox;
    display: -webkit-box;
    display: -webkit-flex;

    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-direction: column;
    flex-wrap: nowrap;

    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    justify-content: center;
    align-items: flex-start;
    

    padding-left: 10px;

}

.displaysContainer {

    width: 950px;

    border-radius: 5px;
    border: 1px solid lightgrey;

}


/* Colour Coding the Requests */

.defaultHeader {
    color: dimgrey;
    background: aliceblue;
}

.defaultDetails {
    background: lightsteelblue;
}

.defaultCell {
    color: black;
    background: azure;
}

.defaultBtn {
    background: dimgrey;
}


.pendingHeader {
    color: darkblue;
    background: gainsboro;
}

.pendingDetails {
    background: silver;
}

.pendingCell {
    color: white;
    background: lightslategrey;
}

.pendingBtn {
    background: darkblue;
}


.allocatedHeader {
    color: darkgreen;
    background: palegreen;
}

.allocatedDetails {
    background: lightgreen;
}

.allocatedCell {
    color: white;
    background: limegreen;
}

.allocatedBtn {
    background: darkgreen;
}


.alternativeHeader {
    color: orangered;
    background: moccasin ;
}

.alternativeDetails {
    background: khaki;
}

.alternativeCell {
    color: white;
    background: goldenrod;
}

.alternativeBtn {
    background: coral;
}


.rejectedHeader {
    color: darkred;
    background: lightcoral;
}

.rejectedDetails {
    background: salmon;
}

.rejectedCell {
    color: white;
    background: tomato;
}

.rejectedBtn {
    background: darkred;
}