.filtersContainer {

    display: flex;
    flex-flow: row  nowrap;

    height: 120px;
    width: 950px;

    margin-bottom: 10px;

    border-radius: 5px;
    border: 1px solid lightgrey;

}

.filterGroup {

    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    justify-content: center;
    align-items: flex-start;

    padding-left: 10px;

}

.displaysContainer {

    width: 950px;

    border-radius: 5px;
    border: 1px solid lightgrey;

}
