#graphicalContainer {

    display: flex;
    align-items: flex-start;

    width: 950px;
    padding: 0;

}

#infoSection {

    display: flex;
    flex: 1 0 auto;
    align-items: center;

    width:240px;

}


#detailsContainer {

    display: flex;
    flex-flow: column nowrap;

    width: 230px;
    margin: 5px;

    //color: white;

    border-radius: 5px;
    border: 2px solid lightgrey;

}

.dataRow {
    
    min-height: 40px;
    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-items: center;
    
    
    border-bottom: 1px solid lightgrey;

}

.dataTitle {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

    height: 100%;
    min-height: 40px;

    padding-left: 3px;
    padding-right: 3px;

    font-weight: 600;
    text-decoration: underline;

    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;

}

.dataContent {

    display:flex;
    flex:1 0 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
   
    min-height: 40px;
    padding: 0px 3px 0px 3px;

}

.dataBtn {

    display:flex;
    flex:1 0 auto;
    justify-content: center;
    align-items: center;

    padding: 0px !important;

    border: none !important;
}

.dataBtn input[type=button] {
    
    height: 30px;

    color: white;

    border-radius: 3px;
    border: 1px solid lightgrey;
    
}

.dataBtn input[type=button]:hover {
    
    background: #330066;
    
}


#graphicalSection {
    
    flex: 1 0 auto;

    width: 710px;

    //border: 1px solid black;

}

.daySection {
    
    display: inline-flex;
    align-items: center;

    margin:2px;

    border-radius: 5px;
    border: 1px solid lightgrey;

}

.dayTitle {

    height: 30px;
    width: 50px;
    margin: 2px;

    text-align: center;
    line-height: 30px;

    font-weight:bold;

}

.dayTable {

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:2px;
    margin-right:3px;

    empty-cells: show;

    table-layout: fixed;

    border-collapse:separate;
	border-spacing:1px 2px;

    //border: 1px solid black;
}

.dayTable td {
    
    height:40px;
	width:70px;
    
    text-align: center;

    border-radius: 3px;
    border: 1px solid lightgrey;
}

.dayTable [id*="hiddenTD"] {
	
    height:0px;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;

}

.radioLabel {
	
    display: inline-block;
	height: 100%;
	width: 100%;
    margin-bottom:0px;

	text-align:center;
	vertical-align:middle;

    font-weight: normal;
    text-decoration: none;

	line-height: 40px;
	cursor: pointer;

}

.dayTable input[type=radio]{

    visibility: hidden;
    display: none;

}


