fieldset{
  background-color:white;
  font-family:'Franklin Gothic';
  color:rgb(71,51,103);
bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: auto;
    max-width:750px;
    height: 158px;
    border: 1px solid lightgrey;
    opacity:0.9;
}

h2
{
bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 300px;
    height: 250px;
font-family:'Franklin Gothic';
color:rgb(71,51,103);

}

body {background-color:rgb(240,240,240);
      opacity:0.9;
}

.btn-primary {
  color: #fff;
  background-color: rgb(71,51,103);
  border-color: lightgrey;
}
.errorMessage
{
    color:red;
}