body {
    min-width: 960px;
    margin: 0px;
    overflow-y: scroll;
}

#mainWrapper {
    width:960px;

    
    top:0px;
    margin: 0 auto;
}

.headerWrapper {
    height: 100px;
    /*
        background: #330066;
    */
    background: linear-gradient(to right, #2f0065 25%,#5a3163 100%);
}

#lboroLogo {
    top:20px;
    left:20px;
}

#navSection ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#navSection ul li {
    display: inline-block;
    vertical-align: middle;
}

#navSection ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

#navSection ul li a:hover {
    color: #fff;
    background-color: #369;
}

#contentDiv {
    padding:5px;
}

#progressbar {

    height: 20px !important;
    width: 200px;

    margin: 2px;
    margin-top: 7px;
    margin-left: 20px;
    
    border-radius: 7px;
    border: 1px solid lightgrey;
    
}

.ui-progressbar.beginning .ui-progressbar-value { background: green; }
.ui-progressbar.middle .ui-progressbar-value { background: orange; }
.ui-progressbar.end .ui-progressbar-value { background: red; }