#roomsAvailFilterContainer {

    display: flex;
    display: flexbox;
    display: -webkit-box;
    display: -webkit-flex;

    justify-content: center;
    -webkit-justify-content: center;

    align-items: center;
    -webkit-align-items: center;

    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;

    width: 950px;
    padding: 0;

}

.raBtns {
    color: #FFF;
    background-color: #473367;
    border-color: #D3D3D3;
}

#typeContainer input[type=radio], #weeksContainer input[type=checkbox] {
    display:none;
}

.raBtns:hover {
    background-color: #E657A6;
}

#typeContainer input[type=radio]:checked + .raBtns,  #weeksContainer input[type=checkbox]:checked + .raBtns{
    color: white;
    background-color: #E657A6;
}



#roomsAvailContainer {

    display: flex;
    display: flexbox;
    display: -webkit-box;
    display: -webkit-flex;

    justify-content: center;
    -webkit-justify-content: center;

    align-items: center;
    -webkit-align-items: center;

    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;

    width: 950px;
    padding: 0;

}

.raDaySection {
    
    display: inline-flex;
    display: inline-flexbox;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;

    align-items: center;
    -webkit-align-items: center;

    margin:2px;

    border-radius: 5px;
    border: 1px solid lightgrey;

}

.raDayTitle {

    height: 30px;
    width: 50px;
    margin: 2px;

    text-align: center;
    line-height: 30px;

    font-weight:bold;

}

.raDayTable {

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:2px;
    margin-right:3px;

    empty-cells: show;

    table-layout: fixed;

    border-collapse:separate;
	border-spacing:1px 2px;

    //border: 1px solid black;
}

.raDayTable td {
    
    height: 60px;
	width: 90px;
    
    text-align: center;

    border-radius: 3px;
    border: 1px solid lightgrey;
}

.raDayTable [id*="hiddenTD"] {
	
    height:0px;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;

}

.bookedSlot {
    background: red;
}

.availableSlot {
    background: #330066;
    cursor: pointer;
}

.availableSlot:hover {
    background: #E657A6;
}