
.btn-primary {
  color: #fff;
  background-color: rgb(71,51,103);
  border-color: lightgrey;
}
#addDiv
{
margin-left:auto;
margin-right:auto;
text-align:center;
}

#passwordDiv
{
margin-left:auto;
margin-right:auto;
text-align:center;
}

#tablediv
{ 
height : 300px; 
overflow : auto;
margin-left: auto;
margin-right: auto;
width:50%;
}

#moduleTable td
{
  border: 1px solid black;
  width:auto;
  table-layout:inherit;
  padding:2px;
  min-width:50px;
  border-left:none;
  border-right:none;
}

.tdTitle
{
padding-right:10px !important;
padding-left:10px !important;
}

h3
{
 text-align:center;
}

#saveChanges
{
    display: block;
    margin: 0 auto;
    text-align: center;
}