.btn-primary {
  color: #fff;
  background-color: rgb(71,51,103);
  border-color: lightgrey;
}

.settingsTitles
{
 text-align:center;
}

#moduleManagementContainer {

    display: inline-block;
    position: relative;

    height: 460px;
    width: 930px;

    margin: 10px 10px;

    border: 2px solid lightgrey;

}

#modulesListContainer {
    
    display: inline-block;

    width: 500px;
    margin-left: 20px;
}

#tablediv
{ 
    height : 300px; 
    overflow : auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
}

#moduleTable td
{
  border: 1px solid black;
  width:auto;
  table-layout:inherit;
  padding:2px;
  min-width:50px;
  border-left:none;
  border-right:none;
}

.tdTitle
{
padding-right:10px !important;
padding-left:10px !important;
}

#addDiv
{
    position: absolute;
    top: 50px;
    right: 20px;
    width: 350px;

    padding-left: 70px;
    
}

#addDeptCode {
    font-weight: bold;
}

#saveChanges
{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

#passwordDiv
{
    height: 130px;
    width: 930px;

    border: 2px solid lightgrey;

    margin-left:auto;
    margin-right:auto;
    text-align:center;
}