.button {
   border-top: 1px solid #463367;
   background: #463367;
   background: -webkit-gradient(linear, left top, left bottom, from(#473367), to(#463367));
   background: -webkit-linear-gradient(top, #473367, #463367);
   background: -moz-linear-gradient(top, #473367, #463367);
   background: -ms-linear-gradient(top, #473367, #463367);
   background: -o-linear-gradient(top, #473367, #463367);
   color: #ffffff;
   font-size: 14px;
   font-family:'Franklin Gothic Book';
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #574a6b;
   background: #574a6b;
   color: #ccc;
   }
.button:active {
   border-top-color: #493367;
   background: #493367;
   }

#addDiv
{
margin-left:auto;
margin-right:auto;
text-align:center;
}

#passwordDiv
{
margin-left:auto;
margin-right:auto;
text-align:center;
}

#tablediv
{ 
height : 300px; 
overflow : auto;
margin-left: auto;
margin-right: auto;
width:50%;
}

#moduleTable td
{
  border: 1px solid black;
  width:auto;
  table-layout:inherit;
  padding:2px;
  min-width:50px;
  border-left:none;
  border-right:none;
}

.tdTitle
{
padding-right:10px !important;
padding-left:10px !important;
}

h3
{
 text-align:center;
}

#saveChanges
{
    display: block;
    margin: 0 auto;
    text-align: center;
}