#contrast { 
width: 20px; 
height: 20px; 
}

#default { 
width: 20px; 
height: 20px; 
}

#shrinkText { 
width: 20px; 
height: 20px; 
}

#enlargeText{ 
width: 20px; 
height: 20px; 
}


#td4
{
    border-left: solid 1px lightgrey;
    padding-left: 4px;
}

#td3
{
    padding-right: 4px;
}


