#graphicalContainer {

    position:relative;
    min-height: 800px;
    width: 950px;

    margin: 0;
    padding: 0;

    border: 1px solid black;

}

#infoSection {

    position:absolute;
    height:100%;
    width:240px;

    

    border: 1px solid black;
}


#detailsContainer {

    display: flex;
    flex-flow: column nowrap;

    //min-height: 700px;
    width: 230px;
    margin: 5px;

    border: 1px solid black;

}

.dataRow {
    
    min-height: 40px;
    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-items: center;
    
    
    border-bottom: 1px solid grey;

}

.dataTitle {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

    height: 100%;
    min-height: 40px;

    padding-left: 3px;
    padding-right: 3px;

    font-weight: 600;
    text-decoration: underline;

    border-left: 1px solid grey;
    border-right: 1px solid grey;

}

.dataContent {

    display:flex;
    flex:1 0 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
   
    min-height: 40px;
    padding: 0px 3px 0px 3px;

    //border: 1px solid grey;

}








#graphicalSection {
    
    position:absolute;
    left: 240px;

    height: 100%;
    width: 710px;

    border: 1px solid black;
}

.daySection {
    
    display: inline-flex;
    align-items: center;

    margin:2px;

    border: 1px solid black;

}

.dayTitle {

    height: 30px;
    width: 50px;
    margin: 2px;

    text-align: center;
    line-height: 30px;

    border: 1px solid black;

}

.dayTable {

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:2px;
    margin-right:3px;

    empty-cells: show;

    table-layout: fixed;

    border-collapse:separate;
	border-spacing:1px 2px;

    border: 1px solid black;
}

.dayTable td {
    
    height:40px;
	width:70px;
    
    text-align: center;

    border: 1px solid grey;
}

.dayTable [id*="hiddenTD"] {
	
    height:0px;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;

}

.radioLabel {
	
    display: inline-block;
	height: 100%;
	width: 100%;
    margin-bottom:0px;

	text-align:center;
	vertical-align:middle;

    font-weight: normal;
    text-decoration: none;

	line-height: 40px;
	cursor: pointer;

}

.dayTable input[type=radio]{

    visibility: hidden;
    display: none;

}


