@{
    ViewBag.Title = "Add";
}
@Styles.Render("~/Content/addRequestStyle.css")

<div class="row">
  <div class="col-md-6">
        <div id="propertiesBox">
            Ad-hoc<input id='adhoc' type='checkbox'><br>
            Module title: <select id="modTitleSelect" name="modTitleSelect" class="modChooser" onchange="moduleSelector(this)"></select><br>
            Module code: <select id="modCodeSelect" name="modCodeSelect" class="modChooser" onchange="moduleSelector(this)"></select><br>
        </div>
        <div id="weekSelect">
        </div>
        <div id="weekTable">
        </div>
  </div>
  <div class="col-md-6">
    <div id="buildingList">  
    </div>
    Rooms fitting your criteria:
    <div id="roomList">
    </div>
    <br>
    <input class="button" type='button' value='clear selection' onclick='clearRoomSel()'>
    <br><br>Chosen rooms: <br>
      <div id="chosenRoomsList">
    </div>
        <input type='button' value='clear selection' onclick=''>
  </div>
</div>
<br>
<input class="button" type='button' value='save request' onclick='timeAndDay()'>
<input class="button" type='button' value='save request and add another' onclick='timeAndDay()'>
<input class="button" type='button' value='clear form' onclick=''>

@Scripts.Render("~/bundles/addRequests")