@{
    ViewBag.Title = "Add";
}
@Styles.Render("~/Content/addRequestStyle.css")

<div class="row">
  <div class="col-md-7">
        <input style="display:none" id='adhoc' type='checkbox'><label for="adhoc" class="btn btn-default">Ad-hoc</label><br>
        <div id="moduleBox">
            Module code: <select id="modCodeSelect" name="modCodeSelect" class="modChooser" onchange="moduleSelector(this)"></select>
            title: <select id="modTitleSelect" name="modTitleSelect" class="modChooser" style='width: 250px;'onchange="moduleSelector(this)"></select>
        </div>
        <div id="propertiesBox">
            
        </div><br>

  </div>
  <div class="col-md-5">
    <div id="buildingList">  
    </div>
    Rooms fitting your criteria:
    <div id="roomList">
    </div>
    <br>
    <input class="btn btn-default" type='button' value='clear selection' onclick='clearRoomSel()'>
    <br><br>Chosen rooms: <br>
      <div id="chosenRoomsList">
    </div>
        <br>
        <input class="btn btn-default" type='button' value='clear selection' onclick=''>
  </div>
</div>
<div class ="row2 col-md-12">
        <div id="weekSelect">
        </div><br>
        <div id="weekTable">
        </div><br>
</div>
<br>
<input class="btn btn-default" id="submitForm" class="btn btn-primary" type='button' value='save request' onclick='timeAndDay()'>
<input class="btn btn-default" id="clearWholeForm" class="btn btn-primary" type='button' value='clear form' onclick='clearForm()'>



@Scripts.Render("~/bundles/addRequests")