@{
    ViewBag.Title = "Add";
}

<div class="row">
  @*<div class="col-md-2"></div>*@
  <div class="col-md-6">
        <div id="propertiesBox">
            Module title: <select id="modTitleSelect" name="modTitleSelect" class="modChooser" onchange="moduleSelector(this)"></select>
            Module code: <select id="modCodeSelect" name="modCodeSelect" class="modChooser" onchange="moduleSelector(this)"></select>
        </div>
        <div id="weekSelect">
        </div>
        <div id="weekTable">
        </div>
  </div>
  <div class="col-md-6">
    Rooms fitting your criteria:
    <div id="roomList">
    </div>
  </div>
  @*<div class="col-md-2"></div>*@
</div>
<input type='button' value='submit request' onclick=''>
<input type='button' value='submit and add another' onclick=''>

@Scripts.Render("~/bundles/addRequests")