@{
    ViewBag.Title = "Add";
}
@Styles.Render("~/Content/addRequestStyle.css")

<div class="row">
  <div class="col-md-6">
        Ad-hoc<input id='adhoc' type='checkbox'><br>
        <div id="moduleBox">
            Module title:<br> <select id="modTitleSelect" name="modTitleSelect" class="modChooser" onchange="moduleSelector(this)"></select><br><br>
            Module code:<br> <select id="modCodeSelect" name="modCodeSelect" class="modChooser" onchange="moduleSelector(this)"></select><br><br>
        </div>
        <div id="propertiesBox">
            
        </div><br>
        <div id="weekSelect">
        </div><br>
        <div id="weekTable">
        </div><br>
  </div>
  <div class="col-md-6">
    <div id="buildingList">  
    </div>
    Rooms fitting your criteria:
    <div id="roomList">
    </div>
    <br>
    <input class="btn btn-default" type='button' value='clear selection' onclick='clearRoomSel()'>
    <br><br>Chosen rooms: <br>
      <div id="chosenRoomsList">
    </div>
        <input class="btn btn-default" type='button' value='clear selection' onclick=''>
  </div>
</div>
<br>

<input class="btn btn-default" type='button' value='save request' onclick='timeAndDay()'>
<input class="btn btn-default" type='button' value='save request and add another' onclick='timeAndDay()'>
<input class="btn btn-default" type='button' value='clear form' onclick=''>

<input id="submitForm" class="btn btn-primary" type='button' value='save request' onclick='timeAndDay()'>
<input id="clearWholeForm" class="btn btn-primary" type='button' value='clear form' onclick=''>



@Scripts.Render("~/bundles/addRequests")