@{
    ViewBag.Title = "Add";
}

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
  holy spacing batman
        <div id="propertiesBox">
            <select id="modTitleSelect" name="modTitleSelect" class="modChooser" onchange="ModuleSelector(this)"></select></br>
            <select id="modCodeSelect" name="modCodeSelect" class="modChooser" onchange="ModuleSelector(this)"></select></br>
        </div>
        <div id="weekSelect">
        </div>
        <div id="weekTable">
        </div>
  </div>
  <div class="col-md-4">this will be the filtered rooms list blah blah blah</div>
  <div class="col-md-2"></div>
</div>

@Scripts.Render("~/bundles/addRequests")