@{
    ViewBag.Title = "Home Page";
}
<div style="width: 940px; margin: 0 auto; padding: 5px; border: 1px solid lightgrey; border-radius: 5px;">

    <h2 style="color: #330066; padding-left: 50px;">Welcome to the Loughborough University Timetabling System</h2>


    <ul style="color: #330066;">
        <li>If you have trouble reading, please use the accessibility buttons above in order to change the size of the text or the contrast.</li>
        <li>To create a new booking, please go to the ‘Add’ tab above, select your desired requirements and submit your booking.</li>
        <li>If you would like to view all unsubmitted and pending requests made by the department in the prior round to the current one,for next semester go to the 'Requests' tab.</li>
        <li>If you would like to view all allocated , alternative , and rejected requests made by the department so far, for next semester click the 'Results' tab.</li>
        <li>If you would like to view all allocated and alternative requests by all departments for the next semester,also displays of all bookings made for the current semester,click the 'Bookings' tab.</li>
        <li>If you would like to view all bookings made by the department that are not in the set of bookings made for next semester or the current running semester, click the 'History' tab.</li>
        <li>To add, edit or delete modules or alternatively to change your password, please visit the ‘Settings’ tab.</li>
    </ul>

</div>
