@{
    ViewBag.Title = "Settings";
}


<html>


<body>
    <div id="tablediv"></div>
    <br>
    <br>
    <div>
        <h3>Add New Module</h3>
        Module code<input id="code" type="text"></input>
        Module name<input id="name" type="text"></input>
        <button id="addbutton" type="button">Submit</button>
    </div>
    <br>
    <br>
    <div>
        <h3>Password management</h3>
        <button id="resetbutton" type="button">Change Password</button>
    </div>


</body>

</html>








<!--Keep this at the bottom of the page -->
@Scripts.Render("~/bundles/settings")