@{
    ViewBag.Title = "Settings";
}
@Styles.Render("~/Content/settingsCSS")

<html>


<body>
    <div><h3>Module List</h3></div>
    <div id="tablediv"></div>
    <br>
    <button class='btn btn-primary' id="saveChanges" type="button">Save Changes</button>
    <br>
    <div id="addDiv">
        <h3>Add New Module</h3>
        Module code<input id="code" type="text"></input>
        Module name<input id="name" type="text"></input>
        <button class='btn btn-primary'" id="addbutton" type="button">Submit</button>
    </div>
    <br>
    <div id="passwordDiv">
        <h3>Password management</h3>
        Old Password<input id="oldpass" type="text"></input>
        New Password<input id="newpass" type="text"></input>
        Confirm New Password<input id="newpass1" type="text"></input>
        <button class='btn btn-primary' id="resetbutton" type="button">Change Password</button>
    </div>
    

</body>

</html>








<!--Keep this at the bottom of the page -->
@Scripts.Render("~/bundles/settings")