@{
    ViewBag.Title = "Settings";
}
@Styles.Render("~/Content/settingsCSS")

<html>


<body>
    <div id="moduleManagementContainer">
        <div id="modulesListContainer">
            <h3 class="settingsTitles">Module List</h3>
            <div id="tablediv"></div>
            <br>
        </div>
        <br>
        <div id="addDiv">
            <h3 class="settingsTitles" style="margin-left:-100px;">Add New Module</h3>
            Module Code:<br />
            <span id="addDeptCode"></span><input id="code" type="text" />
            <br />
            <br />
            Module Title:<br />
            <input id="name" type="text" />
            <br />
            <br />
            <button class="btn btn-default" id="addbutton" type="button" name="Add Module">Add Module</button>
        </div>
        <button class='btn btn-default' id="saveChanges" type="button" name="Save Changes">Save Changes</button>
    </div>
    <br>
    <div id="passwordDiv">
        <h3 class="settingsTitles">Password management</h3>
        Old Password<input id="oldpass" type="password" />
        New Password<input id="newpass" type="password" />
        Confirm New Password<input id="newpassconfirm" type="password" />
        <button class='btn btn-default' id="chngePwdBtn" type="button">Change Password</button>
    </div>
    

</body>

</html>








<!--Keep this at the bottom of the page -->
@Scripts.Render("~/bundles/settings")