@{
    ViewBag.Title = "History";
}

<div class="filtersContainer">
    <div class="filterGroup">
        <div><input type="radio" name="timeRadio" value="time" checked /> Time </div>
        <div><input type="radio" name="timeRadio" value="periods" /> Periods </div>
    </div>
</div>

<div id="displaysContainer">

</div>










@Scripts.Render("~/bundles/history")