@{
    ViewBag.Title = "Results";
}

<div id="filtersContainer" class="filtersContainer">

    <div class="filterGroup">
        <div><input type="radio" name="requestTypeRadio" value="current" id="current" checked /><label class="btn filterBtn" for="current"> Current </label></div>
        <div><input type="radio" name="requestTypeRadio" value="adHoc" id="adHoc" /><label class="btn filterBtn" for="adHoc"> Ad-Hoc</label></div>
    </div>

    <div class="filterGroup">
        <div id="modulelist"></div>
        <div id="buildinglist"></div>
        <div id="roomslist"></div>
    </div>

    <div  class="filterGroup">
        <div id="weeklist"></div>
        <div id="dayslist"></div>
        <div id="statuslist"></div>
    </div>
    
    <div class="filterGroup">
        <div><input type="radio" name="displayRadio" value="list" id="list" checked /><label class="btn filterBtn" for="list"> List View </label></div>
        <div><input type="radio" name="displayRadio" value="graphical" id="graphical" /><label class="btn filterBtn" for="graphical"> Graphical View </label></div>
    </div>

</div>

<div id="displaysContainer" class="displaysContainer">

</div>















@Scripts.Render("~/bundles/results")