@{
    ViewBag.Title = "RoomAvailability";
}

@Styles.Render("~/Content/raCSS")

<div id="roomsAvailFilterContainer">

    <div id="typeContainer">
        <div><input type="radio" name="requestTypeRadio" value="current" id="current" checked /><label class="btn raBtns" for="current"> Current </label></div>
        <div><input type="radio" name="requestTypeRadio" value="adHoc" id="adHoc" /><label class="btn raBtns" for="adHoc"> Ad-Hoc</label></div>
    </div>

    <div id="roomsListContainer">

    </div>

    <div id="weeksContainer">
        
    </div>

</div>


<div id="roomsAvailContainer">


</div>

@Scripts.Render("~/bundles/roomAvailability")
